body {
    font-family: 'Domine, Fira Sans, Raleway';
    background-color: #D8F4FB;
    color: #0f306e;
    }

.uploadcontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    font-size: large;
}

/*Containers*/

.callout-container {
    height: 100vh;

    background: url('../images/handlebars.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.content-container {
    padding-top: 90px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    min-height: 80vh;
    }

.image-container {
    padding-top: 90px; 
   }

.card-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainsection {
    padding-top: 30px;
}

/* Navbar */

.header {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;    
    background-color:rgb(15, 72, 110);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: x-large;
    color: #D8F4FB;
}

.navbar .navbar-nav a {
    font-weight: bold;
    font-size: x-large;
    color: #D8F4FB;
}

.navbar .navbar-nav .nav-link {
    color: rgb(216, 244, 251);
}

.navbar .navbar-nav .nav-link.active {
    color: #5982de;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    font-family: 'Raleway, Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #D8F4FB;
}

.jumbotron .lead {
    color: #5982DE;
    margin: 25px 0;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Headings */

.title {
    justify-content: center;
}

.subtitle {
    text-align: center;
    font-weight: 700;
    color: #0f306e;
}

.homeheading {
    font-family: 'Raleway', sans-serif;
    font-size: 55px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--jumbo {
    width: 70%;
    background-color: #d4af37;
}

.block-divider--gold {
    width: 100%;
    background-color: #d4af37;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 25px;
    width: 40%;
    height: 50px;
    color: #D8F4FB;
    background-color: #5982de;
    border-color: #f80905;
}

.btn--cta:hover,
.btn--cta:active,
.btn--cta:focus,
.btn--cta:active:focus {
    background-color: #D8F4FB;
    border-color: #f80905;
    color: #5982de;
}

.btn--blue {
    font-weight: bold;
    border-radius: 23px;
    width: 70%;
    color: #D8F4FB;
    background-color: #5982de;
    border-color: #5982de;
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #D8F4FB;
    border-color: #D8F4FB;
    color: #5982de;
}

.btn--darkblue {
    font-weight: bold;
    border-radius: 25px;
    width: 40%;
    height: 50px;
    color: #D8F4FB;
    background-color: #0f306e;
    border-color: #0f306e;
}

.btn-dwnld {
    background-color: #0f306e;
    border-color: #f80905;
    font-weight: bold;
    color: #d4af37;
}

/* Footer */

footer {
    background-color: #0f306e;
    text-align: center;
    min-height: 60px;
    border-top: 1px solid #f80905;
}

footer p {
    line-height: 1.6;
    font-weight: 600;
    font-size: large;
    color: #5982de;
}

.media-icons {
    font-size: xx-large;
    color: #5982de;
}

/* Cards */

.routestext {
    text-align: justify;
}

div.card {
    border: none;
    background-color: #D8F4FB;
}

.card-title {
    color: #0f306e;
}

.cardimg {
    border-radius: 50%;    
}

.hometext {
    font-family: 'Domine', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    color: #0f306e;
}

/* Scroll invitation */
/* Code copied and adapted from https://codepen.io/snapsnapturtle/pen/KwRzEx */

.mouseContainer {
  width: 24px;
  margin: 0 auto;
  text-align: center;
  } 
  
.mouse {
  border: 5px solid #d8f4fb;
    width: 36px;
    background-color: transparent;
    height: 50px;
    border-radius: 10px;
}
  
.wheel {
  width: 5px;
  height: 5px;
  border: 2px solid #5982de;
  background-color: #5982de;
  position: relative;
  border-radius: 50%;
  left: 50%;
  margin-left: -2px;
  top: 7px;
  animation: scroll 1s infinite;
}
  
@keyframes scroll {
  0%   { top: 6px; opacity: 0;}
  20% { opacity: 1; }
  80% { opacity: 1;}
  100% {top: 20px; opacity: 0;}
}