body {
    font-family: 'Raleway, Open Sans';
    background-color: #D8F4FB;
    }

/*Containers*/

.callout-container {
    height: 100vh;

    background: url('../images/handlebars.jpg') no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.content-container {
    padding-top: 90px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    min-height: 80vh;
    }

.image-container {
    padding-top: 90px; 
   }

.card-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Navbar */

.header {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    margin-bottom: 0;
    width: 100%;    
    background-color:rgb(15, 72, 110);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: x-large;
    color: #D8F4FB;
}

.navbar .navbar-nav a {
    font-weight: bold;
    font-size: x-large;
    color: #D8F4FB;
}

.navbar .navbar-nav .nav-link {
    color: rgb(216, 244, 251);
}

.navbar .navbar-nav .nav-link.active {
    color: #5982de;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-family: 'Raleway, Open Sans';
    font-weight: bold;
    margin-bottom: 30px;
    color: #D8F4FB;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Headings */

.title {
    justify-content: center;
}

.subtitle {
    text-align: center;
    font-weight: 700;
    color: #0f306e;
}

/* Block dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.block-divider--orange {
    background-color: #f80905;
}

.block-divider--gold {
    width: 100%;
    background-color: #d4af37;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #df4929;
    border-color: #df4929;
    color: white;
}

.btn--blue {
    font-weight: bold;
    border-radius: 23px;
    width: 70%;
    color: #D8F4FB;
    background-color: #5982de;
    border-color: #5982de;
}

.btn--blue:hover,
.btn--blue:active,
.btn--blue:focus,
.btn--blue:active:focus {
    background-color: #D8F4FB;
    border-color: #D8F4FB;
    color: #5982de;
}

.btn--darkblue {
    font-weight: bold;
    border-radius: 25px;
    width: 40%;
    height: 50px;
    color: #D8F4FB;
    background-color: #0f306e;
    border-color: #0f306e;
}

.btn-dwnld {
    background-color: #0f306e;
    border-color: #f80905;
    font-weight: bold;
    color: #d4af37;
}

/* Footer */

footer {
    background-color: #0f306e;
    text-align: center;
    min-height: 60px;
    border-top: 1px solid #f80905;
}

footer p {
    line-height: 1.6;
    font-weight: 600;
    font-size: large;
    color: #5982de;
}

.media-icons {
    font-size: xx-large;
    color: #5982de;
}

/* Routes cards */

p.card-text {
    text-align: justify;
}

div.card {
    border: none;
    background-color: #D8F4FB;
}

.card-title {
    color: #0f306e;
}
